h1 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.background-image-login {
    background-image: url('/img/student-computer.jpg');
    position: relative;
}

.authentication-position {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.image-center {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

[type='text'],
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
[multiple],
textarea,
select {
    color: #000;
}

/*Custom colors*/
.bg-ma-gray {
    background-color: #383838;
}

.bg-ma-dark-gray {
    background-color: #272727;
}

.bg-ma-magenta {
    background-color: #E82681;
}

.text-ma-white {
    color: #fff;
}

.text-magenta {
    color: #E82681;
}

.text-magenta:hover {
    color: #fff;
}

.border-bottom-white {
    border-bottom: 3px #fff solid;
}


/* Voor ipad-pro blade view padding */

@media only screen and (max-width: 1424px) {
    .authentication-width {
        padding: 40px;
    }
}
