@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
}

h1 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.background-image-login {
    background-image: url('/img/student-computer.jpg');
    position: relative;
}

.welcome-background {
    background-image: url("/img/student-schrijven.jpg");
    background-size: cover;
}

.logo-size-welcome {
    max-height: 18rem;
}

.grid-container {
    height: 100vh;
    position: relative;
}

.table-background {
    background-color: #272727;
}


.table-background:nth-child(2n) {
    background-color: #535353;
}

.grid-placement {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ma-online-logo {
    color: #fff;
    font-size: 65px;
}

.modal-background {
    overflow: hidden;

}

.modal-background-inner {
    height: 100vh;
    width: 100vw;
    background-color: #000;
    z-index: 5;
    opacity: 60%;
}

.authentication-position {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.delete-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

html, body, #wrapper {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

#wrapper td {
    vertical-align: middle;
    text-align: center;
}

.welcome-image-width {
    width: 30%;
}

.cancel-button {
    min-width: 110px;
}

.single-video-inner {
    min-height: 200px;
}

.search-button {
    width: 38px;
    height: 38px;
    color: #fff;
}

.login-logo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.upload-button {
    height: 38px;
    width: 38px;
    border-radius: 2px;
}

.upload-button-inner {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.upload-button-container {
    margin-top: 6px;
}

.profile-picture {
    border-radius: 2px;
    height: 37px;
    width: 37px;
}

.flex-controller {
    flex-wrap: wrap;
}

.thumbnail-controller img{
    object-fit: cover;
    opacity: 0.7;
}

.fold-out {
    right: 0px;
    bottom: 0px;
    width: 15px;
    height: 15px;
    border-radius: 2px;
}

.thumbnail-inner {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    z-index: 30;
}

.sort-down-inner {
    top: 47%;
    left: 50%;
    transform: translate(-44%, -10%);
}

.video-title {
    padding-bottom: 10px;
}

.update-description {
    font-size: 13px;
}

[type='text'],
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
[multiple],
textarea,
select {
    color: #fff;
}


/*Custom colors*/
.bg-ma-gray {
    background-color: #383838;
}

.bg-ma-dark-gray {
    background-color: #272727;
}

.bg-ma-light-gray {
    background-color: #535353;
}

.bg-ma-magenta {
    background-color: #E82681;
}

.bg-ma-green {
    background-color: #5ac8c6;
}

.text-ma-white {
    color: #fff;
}

.text-ma-light-gray {
    color: #707070;
}

.text-ma-light-lighter-gray {
    color: #707070
}

.text-magenta {
    color: #E82681;
}

.text-magenta:hover {
    color: #fff;
}

.text-green:hover {
    color: #5ac8c6;
}

.welcome-login {
    z-index: 99;
}

.border-bottom-white {
    border-bottom: 3px #fff solid;
}

/*Custom scrollbar*/
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background: #cccccc;
    XXborder-radius: 5px;
}

::-webkit-scrollbar-thumb {
    XXborder-radius: 5px;
    background: gray;
}

/*Styling input fields*/
input {
    background-color: #000
}

/* Voor ipad-pro blade view padding */

@media only screen and (max-width: 1424px) {
    .authentication-width {
        padding: 40px;
    }
}

@media only screen and (max-width: 750px) {
    .breakpoint-phone {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.youtube-video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.youtube-video-container::after {
    display: block;
    content: "";
    padding-top: 56.25%;
}

.youtube-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 500px) {
    .delete-modal {
        width: 90%;
        left: 44%;
    }

    .modal-footer {
        margin-top: 0px;
    }

    .mobile-nav {
        display: none;
    }

    .cols-phone-welcome {
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }
}

@media only screen and (max-width: 411px) {
    .welcome-image-width {
        width: 60%;
    }
}
